{% extends 'base.html' %} {% load crispy_forms_tags %} {% block title %}Set New
Password{% endblock %} {% block unauth_content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="mb-0">Set a new password</h4>
      </div>
      <div class="card-body">
        {% if validlink %}
        <form method="post">
          {% csrf_token %} {{ form|crispy }}
          <button type="submit" class="btn btn-primary mt-3">
            Update password
          </button>
        </form>
        {% else %}
        <p>This reset link is invalid or has expired.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
